#addition{
  font-size: 32px;
  color: gray;
}
table {
  border-collapse: collapse;
  width:40%;

}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
td {
  width:80px;
  font-size:35px;
  background-color: blue;
  border-radius: 20px;
}

tr {
  height:80px;
}
th {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
td:hover{
  background-color: gray;
}
#gradient {
  background-color: black;
}
